<section
  class="bg-background min-h-[calc(100vh-140px)] flex flex-col items-center justify-center px-6 text-center"
>
  <h1 class="md:text-4xl font-extrabold text-primary mb-6 text-3xl">
    About Us
  </h1>
  <p
    class="max-w-2xl text-base md:text-lg text-gray-600 dark:text-gray-300 mb-8"
  >
    This Angular + TailwindCSS template is designed to give you a fast, clean,
    and modern UI with theme switching. Perfect for portfolios, landing pages,
    and creative projects! 🌸
  </p>
</section>
